body {
  font: 400 1em/1.38 'PT Sans';
  color: rgb(255, 255, 255);
}

.container-1 p,
.question-2 p,
.question-4 p,
.question-6 p,
.text-11 p,
.text-19 p,
.text-22 p,
.text-23 p,
.text-24 p,
.text-25 p,
.text-26 p,
.text-27 p,
.text-9 p {
  margin-bottom: 1em;
}

.border {
  position: absolute;
}

.brown-circle,
.white-circle {
  display: block;
  position: absolute;
  width: 4px;
  height: auto;
  overflow: hidden;
}

.container {
  position: relative;
  float: left;
}

.container .element {
  visibility: hidden;
  bottom: 4px;
  left: 0;
  z-index: 235;
  width: 100%;
  height: 360px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(222, 222, 222, 0);
}

.container .text {
  text-align: center;
  color: rgb(255, 255, 255);
}

.element {
  position: absolute;
}

.faq {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 790px;
  background-image: url('../images/faq.jpg');
  background-size: cover;
  background-position: center top;
}

.footer,
.gallery {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 500px;
}

.footer .element {
  width: 100%;
}

.footer .image {
  bottom: 20px;
  left: 28px;
  z-index: 4;
  width: 70px;
}

.footer .text {
  bottom: 20px;
  min-height: 38px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.gallery .element {
  width: 25%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.image {
  display: block;
  position: absolute;
  height: auto;
  overflow: hidden;
}

.line {
  position: absolute;
  background-color: rgba(96, 69, 29, 0.5);
}

.main-questions {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 300px;
}

.menu {
  display: block;
  position: absolute;
  top: 45px;
  left: 140px;
  z-index: 254;
  min-height: 38px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.menu:hover {
  text-decoration: underline;
}

.otzivi {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 520px;
  background-image: url('../images/gradient-dark.jpg');
  background-image: url('../images/gradient-dark.jpg');
  background-image: url('../images/gradient-dark.jpg');
  background-image: url('../images/gradient-dark.jpg');
  background-image: url('../images/gradient-dark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.otzivi .container {
  z-index: 65;
  width: 90%;
  height: 400px;
  margin: 70px 0 0 5%;
}

.otzivi .image {
  top: 0;
  bottom: 0;
  width: 1.9995117187%;
  margin: auto 0;
}

.price {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 780px;
  background-image: url('../images/gradient-light.jpg');
  background-image: url('../images/gradient-light.jpg');
  background-image: url('../images/gradient-light.jpg');
  background-image: url('../images/gradient-light.jpg');
  background-image: url('../images/gradient-light.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center top;
}

.price .text {
  font-size: 1em;
  color: rgb(96, 69, 29);
}

.qu1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 230;
  width: 50%;
  height: 300px;
  background: rgb(106, 63, 21);
  background: url('../images/gradient-light(3).jpg') rgb(106, 63, 21);
  background: url('../images/gradient-light(3).jpg') rgb(106, 63, 21);
  background: url('../images/gradient-light(3).jpg') rgb(106, 63, 21);
  background: url('../images/gradient-light(3).jpg') rgb(106, 63, 21);
  background: url('../images/gradient-light(3).jpg') rgb(106, 63, 21);
  background-repeat: no-repeat;
  background-position: center top;
}

.qu1 .image {
  top: 215px;
  left: 0;
  right: 0;
  z-index: 229;
  width: 4%;
  margin: 0 auto;
}

.qu1 .text {
  min-height: 47px;
  text-align: center;
  color: #60451d;
}

.qu2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 218;
  width: 50%;
  height: 300px;
  background: #000000;
  background: url('../images/gradient-dark.jpg') #cda35c;
  background: url('../images/gradient-dark.jpg') #cda35c;
  background: url('../images/gradient-dark.jpg') #cda35c;
  background: url('../images/gradient-dark.jpg') #cda35c;
  background: url('../images/gradient-dark.jpg') #cda35c;
  background-repeat: no-repeat;
  background-position: center top;
}

.qu2 .border {
  background-color: rgba(255, 255, 255, 0.5);
}

.qu2 .image {
  top: 215px;
  left: 0;
  right: 0;
  z-index: 217;
  width: 26px;
  margin: 0 auto;
}

.qu2 .text {
  width: 100%;
  min-height: 47px;
  text-align: center;
  color: #ffffff;
}

.question {
  position: absolute;
}

.price .element,
.qu1 .border,
.question .border,
.question .element {
  background-color: rgba(96, 69, 29, 0.5);
}

.question .image {
  bottom: 23px;
  right: 22px;
  z-index: 18;
  width: 10px;
  opacity: 0.5;
}

.qu1 .image:hover,
.qu2 .image:hover,
.question .image:hover {
  -webkit-transform: scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
}

.question .question {
  top: 110px;
  min-height: 118px;
  font-size: 1em;
  color: rgb(86, 61, 25);
}

.screen1 {
  position: relative;
  float: left;
  width: 100%;
  height: 640px;
  background-image: url('../images/main-screen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.screen2 {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 580px;
  background-image: url('../images/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.screen2 .container {
  width: 53.9843749999%;
  height: 350px;
  margin: 230px 0 0 2.8125%;
}

.screen2 .image {
  width: 50px;
}

.screen4 {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 580px;
  background-image: url('../images/ivory-off-white-paper-texture.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}

.screen4 .image {
  top: 160px;
  width: 20%;
}

.tel {
  position: absolute;
  top: 47px;
  right: 255px;
  z-index: 253;
  min-height: 38px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text {
  position: absolute;
}

._button {
  display: block;
  position: absolute;
  border-radius: 3px;
  font-size: 1em;
  text-align: center;
}

.footer ._button {
  bottom: 27px;
  right: 110px;
  z-index: 2;
  width: 15%;
  height: 38px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(222, 222, 222, 0);
  font-style: italic;
  color: rgb(255, 255, 255);
}

.footer ._button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(86, 61, 25);
}

.price ._button {
  width: 4.6875%;
  height: 35px;
}

.question ._text {
  position: absolute;
  top: 65px;
  left: 10%;
  min-height: 47px;
  font-family: 'PT Serif';
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgb(86, 61, 25);
}

.screen1 ._button {
  top: 38px;
  right: 40px;
  z-index: 252;
  width: 15%;
  min-width: 160px;
  max-width: 200px;
  height: 38px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(222, 222, 222, 0);
  font-style: italic;
  color: rgb(255, 255, 255);
}

.screen1 ._button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.screen1 ._text {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.border-1 {
  top: 0;
  bottom: 0;
  right: 26px;
  z-index: 228;
  width: 2px;
  height: 186px;
  margin: auto 0;
}

.border-10 {
  top: 0;
  bottom: 0;
  left: 26px;
  z-index: 50;
  width: 2px;
  height: 186px;
  margin: auto 0;
}

.border-11 {
  bottom: 26px;
  left: 0;
  right: 0;
  z-index: 49;
  width: 84%;
  height: 2px;
  margin: 0 auto;
}

.border-12 {
  top: 26px;
  left: 0;
  right: 0;
  z-index: 48;
  width: 84%;
  height: 2px;
  margin: 0 auto;
}

.border-13 {
  top: 0;
  bottom: 0;
  right: 26px;
  z-index: 17;
  width: 2px;
  height: 186px;
  margin: auto 0;
}

.border-14 {
  top: 0;
  bottom: 0;
  left: 26px;
  z-index: 16;
  width: 2px;
  height: 186px;
  margin: auto 0;
}

.border-15 {
  bottom: 26px;
  left: 0;
  right: 0;
  z-index: 15;
  width: 83.9973365886%;
  height: 2px;
  margin: 0 auto;
}

.border-16 {
  top: 26px;
  left: 0;
  right: 0;
  z-index: 14;
  width: 83.9973365886%;
  height: 2px;
  margin: 0 auto;
}

.border-2 {
  top: 0;
  bottom: 0;
  left: 26px;
  z-index: 227;
  width: 2px;
  height: 186px;
  margin: auto 0;
}

.border-3 {
  bottom: 26px;
  left: 0;
  right: 0;
  z-index: 226;
  width: 73.916015625%;
  height: 2px;
  margin: 0 auto;
}

.border-4 {
  top: 26px;
  left: 0;
  right: 0;
  z-index: 225;
  width: 73.916015625%;
  height: 2px;
  margin: 0 auto;
}

.border-5 {
  top: 0;
  bottom: 0;
  left: 26px;
  z-index: 216;
  width: 2px;
  height: 186px;
  margin: auto 0;
}

.border-6 {
  top: 0;
  bottom: 0;
  right: 26px;
  z-index: 215;
  width: 2px;
  height: 186px;
  margin: auto 0;
}

.border-7 {
  bottom: 26px;
  left: 0;
  right: 0;
  z-index: 214;
  width: 73.916015625%;
  height: 2px;
  margin: 0 auto;
}

.border-8 {
  top: 26px;
  left: 0;
  right: 0;
  z-index: 213;
  width: 73.916015625%;
  height: 2px;
  margin: 0 auto;
}

.border-9 {
  top: 0;
  bottom: 0;
  right: 26px;
  z-index: 51;
  width: 2px;
  height: 186px;
  margin: auto 0;
}

.brown-circle-1 {
  bottom: 25px;
  right: 25px;
  z-index: 224;
}

.brown-circle-10 {
  top: 25px;
  right: 25px;
  z-index: 46;
}

.brown-circle-11 {
  bottom: 25px;
  left: 25px;
  z-index: 45;
}

.brown-circle-12 {
  top: 25px;
  left: 25px;
  z-index: 44;
}

.brown-circle-13 {
  bottom: 25px;
  right: 25px;
  z-index: 36;
}

.brown-circle-14 {
  top: 25px;
  right: 25px;
  z-index: 35;
}

.brown-circle-15 {
  bottom: 25px;
  left: 25px;
  z-index: 34;
}

.brown-circle-16 {
  top: 25px;
  left: 25px;
  z-index: 33;
}

.brown-circle-17 {
  bottom: 25px;
  right: 25px;
  z-index: 25;
}

.brown-circle-18 {
  top: 25px;
  right: 25px;
  z-index: 24;
}

.brown-circle-19 {
  bottom: 25px;
  left: 25px;
  z-index: 23;
}

.brown-circle-2 {
  top: 25px;
  right: 25px;
  z-index: 223;
}

.brown-circle-20 {
  top: 25px;
  left: 25px;
  z-index: 22;
}

.brown-circle-21 {
  top: 25px;
  right: 25px;
  z-index: 13;
}

.brown-circle-22 {
  bottom: 25px;
  left: 25px;
  z-index: 12;
}

.brown-circle-23 {
  top: 25px;
  left: 25px;
  z-index: 11;
}

.brown-circle-3 {
  bottom: 25px;
  left: 25px;
  z-index: 222;
}

.brown-circle-4 {
  top: 25px;
  left: 25px;
  z-index: 221;
}

.brown-circle-5 {
  bottom: 25px;
  right: 25px;
  z-index: 92;
}

.brown-circle-6 {
  top: 25px;
  right: 25px;
  z-index: 91;
}

.brown-circle-7 {
  bottom: 25px;
  left: 25px;
  z-index: 90;
}

.brown-circle-8 {
  top: 25px;
  left: 25px;
  z-index: 89;
}

.brown-circle-9 {
  bottom: 25px;
  right: 25px;
  z-index: 47;
}

.element-1 {
  top: 40px;
  left: 2.8125%;
  z-index: 232;
  width: 54%;
  min-width: 52px;
  max-width: 720px;
  height: 178px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(222, 222, 222, 0);
}

.element-10 {
  top: 0;
  left: 0;
  z-index: 190;
  background: url('../images/ph-7.jpg') rgb(184, 113, 113);
  background-position: left top;
}

.element-11 {
  top: 0;
  bottom: 0;
  left: 26px;
  z-index: 98;
  width: 2px;
  height: 700px;
  margin: auto 0;
}

.element-12 {
  top: 0;
  bottom: 0;
  right: 26px;
  z-index: 97;
  width: 2px;
  height: 680px;
  margin: auto 0;
}

.element-13 {
  bottom: 26px;
  left: 0;
  right: 0;
  z-index: 96;
  width: 90%;
  height: 2px;
  margin: 0 auto;
}

.element-14 {
  top: 26px;
  left: 0;
  right: 0;
  z-index: 95;
  width: 90%;
  height: 2px;
  margin: 0 auto;
}

.element-15 {
  top: 0;
  bottom: 0;
  right: 26px;
  z-index: 40;
  width: 2px;
  height: 186px;
  margin: auto 0;
}

.element-16 {
  top: 0;
  bottom: 0;
  left: 26px;
  z-index: 39;
  width: 2px;
  height: 186px;
  margin: auto 0;
}

.element-17 {
  bottom: 26px;
  left: 0;
  right: 0;
  z-index: 38;
  width: 84%;
  height: 2px;
  margin: 0 auto;
}

.element-18 {
  top: 26px;
  left: 0;
  right: 0;
  z-index: 37;
  width: 84%;
  height: 2px;
  margin: 0 auto;
}

.element-19 {
  top: 0;
  bottom: 0;
  right: 26px;
  z-index: 29;
  width: 2px;
  height: 186px;
  margin: auto 0;
}

.element-20 {
  top: 0;
  bottom: 0;
  left: 26px;
  z-index: 28;
  width: 2px;
  height: 186px;
  margin: auto 0;
}

.element-21 {
  bottom: 26px;
  left: 0;
  right: 0;
  z-index: 27;
  width: 84%;
  height: 2px;
  margin: 0 auto;
}

.element-22 {
  top: 26px;
  left: 0;
  right: 0;
  z-index: 26;
  width: 84%;
  height: 2px;
  margin: 0 auto;
}

.element-23 {
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 100px;
  background-color: rgb(38, 34, 29);
}

.element-24 {
  top: 0;
  left: 0;
  right: 0;
  height: 400px;
  margin: 0 auto;
  background: url('../images/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA%20%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%202016-11-28%20%D0%B2%200.00.30.png') rgb(255, 237, 186);
  background-size: cover;
  background-position: left top;
}

.element-3 {
  top: 250px;
  left: 50%;
  z-index: 197;
  background: url('../images/ph-2.jpg') rgb(233, 82, 82);
  background-position: 100% 30%;
}

.element-4 {
  top: 0;
  left: 50%;
  z-index: 196;
  background: url('../images/ph-3.jpg') rgb(233, 82, 82);
  background-position: left top;
}

.element-5 {
  top: 0;
  right: 0;
  z-index: 195;
  background: url('../images/ph-4.jpg') rgb(176, 125, 125);
  background-position: left top;
}

.element-6 {
  top: 250px;
  right: 0;
  z-index: 194;
  background: url('../images/ph-8.jpg') rgb(245, 133, 133);
  background-position: left top;
}

.element-7 {
  top: 0;
  left: 25%;
  z-index: 193;
  background: url('../images/ph-1.jpg') rgb(182, 136, 136);
  background-position: left top;
}

.element-8 {
  top: 250px;
  left: 25%;
  z-index: 192;
  background: url('../images/ph-6.jpg') rgb(134, 72, 72);
  background-position: left top;
}

.element-9 {
  top: 250px;
  left: 0;
  z-index: 191;
  background: url('../images/ph-5.jpg') rgb(222, 160, 77);
  background-position: left top;
}

.image-1 {
  top: 32px;
  left: 40px;
  z-index: 259;
  width: 70px;
}

.image-10 {
  top: 45px;
  left: 0;
  right: 0;
  z-index: 242;
  margin: 0 auto;
}

.image-13 {
  right: 12%;
  z-index: 205;
}

.image-14 {
  left: 12%;
  z-index: 204;
}

.image-15 {
  left: 0;
  right: 0;
  z-index: 203;
  margin: 0 auto;
}

.image-17 {
  right: 0;
  z-index: 64;
}

.image-18 {
  left: 0;
  z-index: 63;
}

.image-2 {
  top: 540px;
  left: 0;
  right: 0;
  z-index: 257;
  width: 40px;
  margin: 0 auto;
}

.image-3 {
  top: 595px;
  right: 40px;
  z-index: 256;
  width: 20px;
}

.image-4 {
  top: 595px;
  right: 80px;
  z-index: 255;
  width: 20px;
}

.image-5 {
  top: 195px;
  right: 100px;
  z-index: 247;
}

.image-6 {
  top: 195px;
  left: 0;
  right: 0;
  z-index: 246;
  margin: 0 auto;
}

.image-7 {
  top: 195px;
  left: 100px;
  z-index: 245;
}

.image-8 {
  top: 45px;
  left: 100px;
  z-index: 244;
}

.image-9 {
  top: 45px;
  right: 100px;
  z-index: 243;
}

.line-1 {
  top: 535px;
  left: 0;
  right: 0;
  z-index: 94;
  width: 90%;
  height: 2px;
  margin: 0 auto;
}

.line-2 {
  top: 190px;
  left: 76.71875%;
  z-index: 93;
  width: 0.1556396484%;
  height: 550px;
}

.question-1 {
  top: 155px;
  left: 5%;
  z-index: 52;
  width: 43.9990234375%;
  height: 275px;
  background: url('../images/ivory-off-white-paper-texture.jpg') rgb(221, 221, 221);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}

.question-2 {
  left: 10%;
  z-index: 43;
  width: 80%;
}

.question-3 {
  top: 455px;
  left: 5%;
  z-index: 41;
  width: 43.9990234375%;
  height: 275px;
  background: url('../images/ivory-off-white-paper-texture.jpg') rgb(221, 221, 221);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}

.question-4 {
  left: 10%;
  z-index: 32;
  width: 80%;
}

.question-5 {
  top: 455px;
  right: 5%;
  z-index: 30;
  width: 43.9990234375%;
  height: 275px;
  background: url('../images/ivory-off-white-paper-texture.jpg') rgb(221, 221, 221);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}

.question-6 {
  left: 9.9988902452%;
  z-index: 21;
  width: 80%;
}

.question-7 {
  top: 155px;
  right: 5%;
  z-index: 19;
  width: 44%;
  height: 275px;
  background: url('../images/ivory-off-white-paper-texture.jpg') rgb(221, 221, 221);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}

.question-8 {
  left: 10%;
  z-index: 10;
  width: 80.5960463258%;
}

.text-1 {
  top: 122px;
  left: 66px;
  z-index: 234;
  width: 50%;
  max-height: 90px;
  font-family: 'PT Serif';
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text-10 {
  top: 165px;
  left: 0;
  z-index: 219;
  width: 100%;
  font-size: 1em;
}

.text-11 {
  top: 100px;
  right: 0;
  z-index: 208;
  font: 1.5em/0.3 'PT Serif';
  letter-spacing: 2px;
}

.text-12 {
  top: 165px;
  left: 0;
  z-index: 207;
  font-size: 1em;
}

.text-13 {
  top: 455px;
  right: 11.9982910156%;
  z-index: 202;
  width: 18.9%;
  min-height: 27px;
  font-size: 1em;
  color: #533b19;
}

.text-14 {
  top: 455px;
  left: 0;
  right: 0;
  z-index: 201;
  width: 18%;
  min-height: 27px;
  margin: 0 auto;
  font-size: 1em;
  color: #533b19;
}

.text-15 {
  top: 80px;
  left: 0;
  right: 0;
  z-index: 200;
  width: 100%;
  height: 10px;
  margin: 0 auto;
  font: 1.5em/0.3 'PT Serif';
  text-align: center;
  letter-spacing: 2px;
  color: #60451d;
}

.text-16 {
  top: 455px;
  left: 11.9982910156%;
  z-index: 199;
  width: 19%;
  min-height: 27px;
  font-size: 1em;
  color: #533b19;
}

.text-17 {
  top: 570px;
  right: 75px;
  z-index: 170;
  width: 15.625%;
  min-height: 33px;
  font-family: 'PT Serif';
  text-align: center;
}

.text-18 {
  top: 570px;
  left: 200px;
  z-index: 147;
  width: 59.375%;
  font-family: 'PT Serif';
  text-align: center;
}

.text-19 {
  top: 682px;
  left: 5.859375%;
  z-index: 113;
  line-height: 0.3;
}

.text-2 {
  top: 82px;
  left: 66px;
  z-index: 233;
  font: 1.5em/0.3 'PT Serif';
  text-align: center;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}

.text-20 {
  top: 190px;
  right: 75px;
  z-index: 75;
  width: 15.625%;
  min-height: 33px;
  font-family: 'PT Serif';
  text-align: center;
}

.text-21 {
  top: 190px;
  left: 200px;
  z-index: 74;
  width: 59.375%;
  font-family: 'PT Serif';
  text-align: center;
}

.text-22 {
  top: 302px;
  left: 5.859375%;
  z-index: 73;
  line-height: 0.3;
}

.text-23 {
  top: 242px;
  left: 5.859375%;
  z-index: 72;
  line-height: 0.3;
}

.text-24 {
  top: 362px;
  left: 5.859375%;
  z-index: 71;
  line-height: 0.3;
}

.text-25 {
  top: 622px;
  left: 5.859375%;
  z-index: 70;
  line-height: 0.3;
}

.text-26 {
  top: 482px;
  left: 5.859375%;
  z-index: 69;
  line-height: 0.3;
}

.text-27 {
  top: 422px;
  left: 5.859375%;
  z-index: 68;
  line-height: 0.3;
}

.text-28 {
  top: 340px;
  right: 9%;
  z-index: 62;
  width: 21.9995117187%;
  min-height: 30px;
  font-size: 0.875em;
  text-decoration: underline;
}

.text-29 {
  top: 140px;
  right: 9%;
  z-index: 61;
  width: 21.9995117187%;
  min-height: 118px;
  font-style: italic;
  font-size: 1em;
}

.text-3 {
  top: 275px;
  right: 50px;
  z-index: 241;
  width: 150px;
  min-height: 32px;
  font-size: 1em;
  line-height: 0.3;
}

.text-30 {
  top: 340px;
  left: 0;
  right: 0;
  z-index: 60;
  width: 23.9184570312%;
  min-height: 30px;
  margin: 0 auto;
  font-size: 0.875em;
  text-decoration: underline;
}

.text-31 {
  top: 140px;
  left: 0;
  right: 0;
  z-index: 59;
  width: 21.9995117187%;
  min-height: 118px;
  margin: 0 auto;
  font-style: italic;
  font-size: 1em;
}

.text-32 {
  top: 340px;
  left: 9%;
  z-index: 58;
  width: 21.9995117187%;
  min-height: 30px;
  font-size: 0.875em;
  text-decoration: underline;
}

.text-33 {
  top: 140px;
  left: 9%;
  z-index: 57;
  width: 21.9995117187%;
  min-height: 118px;
  font-style: italic;
  font-size: 1em;
}

.text-34 {
  top: 80px;
  right: 9%;
  z-index: 56;
  width: 21.9995117187%;
  min-height: 40px;
  font-family: 'PT Serif';
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
}

.text-35 {
  top: 80px;
  left: 0;
  right: 0;
  z-index: 55;
  width: 22%;
  min-height: 40px;
  margin: 0 auto;
  font-family: 'PT Serif';
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
}

.text-36 {
  top: 80px;
  left: 9%;
  z-index: 54;
  width: 21.9995117187%;
  min-height: 40px;
  font-family: 'PT Serif';
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
}

.text-37 {
  top: 80px;
  left: 0;
  right: 0;
  z-index: 66;
  width: 90%;
  margin: 0 auto;
  font: 1.5em/0.3 'PT Serif';
  text-align: center;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}

.text-38 {
  right: 38px;
  z-index: 6;
  text-align: right;
}

.text-39 {
  right: 320px;
  z-index: 5;
}

.text-4 {
  top: 275px;
  left: 0;
  right: 0;
  z-index: 240;
  width: 150px;
  min-height: 32px;
  margin: 0 auto;
  font-size: 1em;
  line-height: 0.3;
}

.text-40 {
  left: 128px;
  z-index: 3;
}

.text-40:hover {
  text-decoration: none;
}

.text-5 {
  top: 275px;
  left: 50px;
  z-index: 239;
  width: 150px;
  min-height: 32px;
  font-size: 1em;
  line-height: 0.3;
}

.text-6 {
  top: 125px;
  right: 50px;
  z-index: 238;
  width: 150px;
  min-height: 32px;
  font-size: 1em;
  line-height: 0.3;
}

.text-7 {
  top: 125px;
  left: 0;
  right: 0;
  z-index: 237;
  width: 150px;
  min-height: 32px;
  margin: 0 auto;
  font-size: 1em;
  line-height: 0.3;
}

.text-8 {
  top: 125px;
  left: 50px;
  z-index: 236;
  width: 150px;
  min-height: 32px;
  font-size: 1em;
  line-height: 0.3;
}

.text-9 {
  top: 100px;
  left: 10%;
  z-index: 220;
  width: 80%;
  font: 1.5em/0.3 'PT Serif';
  letter-spacing: 2px;
}

.white-circle-1 {
  top: 25px;
  right: 25px;
  z-index: 212;
}

.white-circle-2 {
  bottom: 25px;
  right: 25px;
  z-index: 211;
}

.white-circle-3 {
  bottom: 25px;
  left: 25px;
  z-index: 210;
}

.white-circle-4 {
  top: 25px;
  left: 25px;
  z-index: 209;
}

.faq ._text-37 {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 8;
  width: 100%;
  margin: 0 auto;
  font: 1.5em/0.3 'PT Serif';
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
}

.price ._button-10 {
  top: 475px;
  right: 16.796875%;
  z-index: 180;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-11 {
  top: 415px;
  right: 5.859375%;
  z-index: 179;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-12 {
  top: 415px;
  right: 11.328125%;
  z-index: 178;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-13 {
  top: 415px;
  right: 16.796875%;
  z-index: 177;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-14 {
  top: 355px;
  right: 5.859375%;
  z-index: 176;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-15 {
  top: 355px;
  right: 11.328125%;
  z-index: 175;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-16 {
  top: 355px;
  right: 16.796875%;
  z-index: 174;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-17 {
  top: 295px;
  right: 5.859375%;
  z-index: 173;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-18 {
  top: 295px;
  right: 11.328125%;
  z-index: 172;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-19 {
  top: 295px;
  right: 16.796875%;
  z-index: 171;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-2 {
  top: 675px;
  right: 5.859375%;
  z-index: 188;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-20 {
  top: 675px;
  left: 15.625%;
  z-index: 169;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-21 {
  top: 675px;
  left: 64.84375%;
  z-index: 168;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-22 {
  top: 675px;
  left: 59.375%;
  z-index: 167;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-23 {
  top: 675px;
  left: 70.3125%;
  z-index: 166;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-24 {
  top: 675px;
  left: 48.4375%;
  z-index: 165;
  background-color: rgba(136, 125, 108, 0.34);
  color: rgb(96, 69, 29);
}

.price ._button-25 {
  top: 675px;
  left: 42.96875%;
  z-index: 164;
  background-color: rgba(136, 125, 108, 0.34);
  color: rgb(96, 69, 29);
}

.price ._button-26 {
  top: 675px;
  left: 37.5%;
  z-index: 163;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-27 {
  top: 675px;
  left: 32.03125%;
  z-index: 162;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-28 {
  top: 675px;
  left: 26.5625%;
  z-index: 161;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-29 {
  top: 675px;
  left: 21.09375%;
  z-index: 160;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-3 {
  top: 675px;
  right: 11.328125%;
  z-index: 187;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-30 {
  top: 675px;
  left: 53.90625%;
  z-index: 159;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-31 {
  top: 615px;
  left: 15.625%;
  z-index: 158;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-32 {
  top: 615px;
  left: 64.84375%;
  z-index: 157;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-33 {
  top: 615px;
  left: 59.375%;
  z-index: 156;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-34 {
  top: 615px;
  left: 70.3125%;
  z-index: 155;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-35 {
  top: 615px;
  left: 48.4375%;
  z-index: 154;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-36 {
  top: 615px;
  left: 42.96875%;
  z-index: 153;
  background-color: rgba(136, 125, 108, 0.34);
  color: rgb(96, 69, 29);
}

.price ._button-37 {
  top: 615px;
  left: 37.5%;
  z-index: 152;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-38 {
  top: 615px;
  left: 32.03125%;
  z-index: 151;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-39 {
  top: 615px;
  left: 26.5625%;
  z-index: 150;
  background-color: rgba(136, 125, 108, 0.34);
  color: rgb(96, 69, 29);
}

.price ._button-4 {
  top: 675px;
  right: 16.796875%;
  z-index: 186;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-40 {
  top: 615px;
  left: 21.09375%;
  z-index: 149;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-41 {
  top: 615px;
  left: 53.90625%;
  z-index: 148;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-42 {
  top: 475px;
  left: 64.84375%;
  z-index: 146;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-43 {
  top: 475px;
  left: 59.375%;
  z-index: 145;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-44 {
  top: 475px;
  left: 70.3125%;
  z-index: 144;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-44:hover {
  background-color: #60451d;
}

.price ._button-45 {
  top: 475px;
  left: 48.4375%;
  z-index: 143;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-46 {
  top: 475px;
  left: 42.96875%;
  z-index: 142;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-47 {
  top: 475px;
  left: 37.5%;
  z-index: 141;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-48 {
  top: 475px;
  left: 32.03125%;
  z-index: 140;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-49 {
  top: 475px;
  left: 26.5625%;
  z-index: 139;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-5 {
  top: 615px;
  right: 5.859375%;
  z-index: 185;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-50 {
  top: 475px;
  left: 21.09375%;
  z-index: 138;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-51 {
  top: 475px;
  left: 53.90625%;
  z-index: 137;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-52 {
  top: 475px;
  left: 15.625%;
  z-index: 136;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-53 {
  top: 415px;
  left: 64.84375%;
  z-index: 135;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-54 {
  top: 415px;
  left: 59.375%;
  z-index: 134;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-55 {
  top: 415px;
  left: 70.3125%;
  z-index: 133;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-56 {
  top: 415px;
  left: 48.4375%;
  z-index: 132;
  background-color: rgba(136, 125, 108, 0.34);
  color: rgb(96, 69, 29);
}

.price ._button-57 {
  top: 415px;
  left: 42.96875%;
  z-index: 131;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-58 {
  top: 415px;
  left: 37.5%;
  z-index: 130;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-59 {
  top: 415px;
  left: 32.03125%;
  z-index: 129;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-6 {
  top: 615px;
  right: 11.328125%;
  z-index: 184;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-60 {
  top: 415px;
  left: 26.5625%;
  z-index: 128;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-61 {
  top: 415px;
  left: 21.09375%;
  z-index: 127;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-62 {
  top: 415px;
  left: 53.90625%;
  z-index: 126;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-63 {
  top: 355px;
  left: 15.625%;
  z-index: 125;
  background-color: rgba(136, 125, 108, 0.34);
  color: rgb(96, 69, 29);
}

.price ._button-64 {
  top: 355px;
  left: 64.84375%;
  z-index: 124;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-65 {
  top: 355px;
  left: 59.375%;
  z-index: 123;
  background-color: rgba(136, 125, 108, 0.34);
  color: rgb(96, 69, 29);
}

.price ._button-66 {
  top: 415px;
  left: 15.625%;
  z-index: 122;
  background-color: rgba(136, 125, 108, 0.34);
  color: rgb(96, 69, 29);
}

.price ._button-67 {
  top: 355px;
  left: 70.3125%;
  z-index: 121;
  background-color: rgba(136, 125, 108, 0.34);
  color: rgb(96, 69, 29);
}

.price ._button-68 {
  top: 355px;
  left: 48.4375%;
  z-index: 120;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-69 {
  top: 355px;
  left: 42.96875%;
  z-index: 119;
  background-color: rgba(136, 125, 108, 0.34);
  color: rgb(96, 69, 29);
}

.price ._button-7 {
  top: 615px;
  right: 16.796875%;
  z-index: 183;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-70 {
  top: 355px;
  left: 37.5%;
  z-index: 118;
  background-color: rgba(136, 125, 108, 0.34);
  color: rgb(96, 69, 29);
}

.price ._button-71 {
  top: 355px;
  left: 32.03125%;
  z-index: 117;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-72 {
  top: 355px;
  left: 26.5625%;
  z-index: 116;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-73 {
  top: 355px;
  left: 21.09375%;
  z-index: 115;
  background-color: rgba(136, 125, 108, 0.34);
  color: rgb(96, 69, 29);
}

.price ._button-74 {
  top: 355px;
  left: 53.90625%;
  z-index: 114;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-75 {
  top: 295px;
  left: 64.84375%;
  z-index: 112;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-76 {
  top: 295px;
  left: 59.375%;
  z-index: 111;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-77 {
  top: 295px;
  left: 70.3125%;
  z-index: 110;
  background-color: rgba(136, 125, 108, 0.34);
  color: rgb(96, 69, 29);
}

.price ._button-78 {
  top: 295px;
  left: 48.4375%;
  z-index: 109;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-79 {
  top: 295px;
  left: 42.96875%;
  z-index: 108;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-8 {
  top: 475px;
  right: 5.859375%;
  z-index: 182;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-80 {
  top: 295px;
  left: 37.5%;
  z-index: 107;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-81 {
  top: 295px;
  left: 32.03125%;
  z-index: 106;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-82 {
  top: 295px;
  left: 26.5625%;
  z-index: 105;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-83 {
  top: 295px;
  left: 21.09375%;
  z-index: 104;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-84 {
  top: 295px;
  left: 53.90625%;
  z-index: 103;
  background-color: rgba(136, 125, 108, 0.34);
  color: rgb(96, 69, 29);
}

.price ._button-85 {
  top: 235px;
  right: 5.859375%;
  z-index: 102;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-86 {
  top: 235px;
  right: 11.328125%;
  z-index: 101;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-87 {
  top: 235px;
  left: 15.625%;
  z-index: 88;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-88 {
  top: 235px;
  right: 16.796875%;
  z-index: 87;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-10:hover,
.price ._button-11:hover,
.price ._button-12:hover,
.price ._button-13:hover,
.price ._button-14:hover,
.price ._button-15:hover,
.price ._button-16:hover,
.price ._button-17:hover,
.price ._button-18:hover,
.price ._button-19:hover,
.price ._button-2:hover,
.price ._button-3:hover,
.price ._button-4:hover,
.price ._button-5:hover,
.price ._button-6:hover,
.price ._button-7:hover,
.price ._button-85:hover,
.price ._button-86:hover,
.price ._button-88:hover,
.price ._button-8:hover,
.price ._button-9:hover {
  background-color: rgb(201, 151, 77);
}

.price ._button-89 {
  top: 235px;
  left: 64.84375%;
  z-index: 86;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-9 {
  top: 475px;
  right: 11.328125%;
  z-index: 181;
  background-color: rgb(174, 125, 53);
  color: rgb(255, 255, 255);
}

.price ._button-90 {
  top: 235px;
  left: 59.375%;
  z-index: 85;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-91 {
  top: 295px;
  left: 15.625%;
  z-index: 84;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-92 {
  top: 235px;
  left: 70.3125%;
  z-index: 83;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-93 {
  top: 235px;
  left: 48.4375%;
  z-index: 82;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-94 {
  top: 235px;
  left: 42.96875%;
  z-index: 81;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-95 {
  top: 235px;
  left: 37.5%;
  z-index: 80;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-96 {
  top: 235px;
  left: 32.03125%;
  z-index: 79;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-97 {
  top: 235px;
  left: 26.5625%;
  z-index: 78;
  background-color: rgba(136, 125, 108, 0.34);
  color: rgb(96, 69, 29);
}

.price ._button-28:hover,
.price ._button-39:hover,
.price ._button-49:hover,
.price ._button-60:hover,
.price ._button-72:hover,
.price ._button-82:hover,
.price ._button-97:hover {
  background-color: rgba(136, 125, 108, 0.34);
}

.price ._button-98 {
  top: 235px;
  left: 21.09375%;
  z-index: 77;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-99 {
  top: 235px;
  left: 53.90625%;
  z-index: 76;
  background-color: #876129;
  color: rgb(255, 255, 255);
}

.price ._button-20:hover,
.price ._button-21:hover,
.price ._button-22:hover,
.price ._button-23:hover,
.price ._button-24:hover,
.price ._button-25:hover,
.price ._button-26:hover,
.price ._button-27:hover,
.price ._button-29:hover,
.price ._button-30:hover,
.price ._button-31:hover,
.price ._button-32:hover,
.price ._button-33:hover,
.price ._button-34:hover,
.price ._button-35:hover,
.price ._button-36:hover,
.price ._button-37:hover,
.price ._button-38:hover,
.price ._button-40:hover,
.price ._button-41:hover,
.price ._button-42:hover,
.price ._button-43:hover,
.price ._button-45:hover,
.price ._button-46:hover,
.price ._button-47:hover,
.price ._button-48:hover,
.price ._button-50:hover,
.price ._button-51:hover,
.price ._button-52:hover,
.price ._button-53:hover,
.price ._button-54:hover,
.price ._button-55:hover,
.price ._button-56:hover,
.price ._button-57:hover,
.price ._button-58:hover,
.price ._button-59:hover,
.price ._button-61:hover,
.price ._button-62:hover,
.price ._button-63:hover,
.price ._button-64:hover,
.price ._button-65:hover,
.price ._button-66:hover,
.price ._button-67:hover,
.price ._button-68:hover,
.price ._button-69:hover,
.price ._button-70:hover,
.price ._button-71:hover,
.price ._button-73:hover,
.price ._button-74:hover,
.price ._button-75:hover,
.price ._button-76:hover,
.price ._button-77:hover,
.price ._button-78:hover,
.price ._button-79:hover,
.price ._button-80:hover,
.price ._button-81:hover,
.price ._button-83:hover,
.price ._button-84:hover,
.price ._button-87:hover,
.price ._button-89:hover,
.price ._button-90:hover,
.price ._button-91:hover,
.price ._button-92:hover,
.price ._button-93:hover,
.price ._button-94:hover,
.price ._button-95:hover,
.price ._button-96:hover,
.price ._button-98:hover,
.price ._button-99:hover {
  background-color: #876129;
}

.price ._text-23 {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
  color: rgb(96, 69, 29);
}

.price ._text-24 {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 99;
  margin: 0 auto;
  font: 1.5em/0.3 'PT Serif';
  text-align: center;
  letter-spacing: 2px;
  color: #60451d;
}

.question ._text-33 {
  z-index: 42;
  width: 80%;
}

.question ._text-34 {
  z-index: 31;
  width: 80%;
}

.question ._text-35 {
  z-index: 20;
  width: 80%;
}

.question ._text-36 {
  z-index: 9;
}

.screen1 ._text-1 {
  top: 330px;
  z-index: 258;
  min-height: 59px;
  font-family: 'PT Serif';
  font-size: 1.5em;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}

.screen1 ._text-2 {
  top: 285px;
  z-index: 251;
  width: 100%;
  min-height: 25px;
  font: 700 2.75em/0.3 'PT Serif';
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
}

.screen1 ._text-3 {
  top: 600px;
  z-index: 250;
  height: 40px;
  min-height: 25px;
  font-size: 1em;
  color: rgb(238, 240, 241);
}

.menu a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-shadow: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: underline;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.menu a:hover {
  text-decoration: inherit;
}

.menu span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-shadow: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: none;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

._text-2 span,
._text-24 span,
.menu strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-shadow: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.question span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-shadow: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: underline;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-style: inherit;
  font-size: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-1 span {
  text-shadow: none;
  font-weight: inherit;
  text-decoration: inherit;
}

.text-13 span,
.text-14 span,
.text-16 span {
  text-shadow: none;
  font-family: inherit;
  font-weight: 700;
  text-decoration: underline;
}

.text-18 span {
  font-family: inherit;
  font-weight: 700;
  text-decoration: inherit;
}

.text-21 span {
  text-shadow: none;
  font-family: inherit;
  font-weight: 700;
  text-decoration: inherit;
}

.text-19 span,
.text-22 span,
.text-23 span,
.text-24 span,
.text-25 span,
.text-26 span,
.text-27 span {
  font-family: 'PT Serif';
  font-weight: 700;
  text-decoration: inherit;
}

.text-15 span,
.text-2 span,
.text-37 span {
  text-shadow: none;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: inherit;
}

.text-3 span,
.text-4 span,
.text-5 span {
  font-family: 'PT Serif';
  font-weight: inherit;
  text-decoration: inherit;
}