body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.5 'PT Sans';
  color: rgb(255, 255, 255);
}

.container {
  position: relative;
  float: left;
  width: 100%;
  height: 640px;
  background-image: url('../images/gradient-dark.jpg');
  background-image: url('../images/gradient-dark.jpg');
  background-image: url('../images/gradient-dark.jpg');
  background-image: url('../images/gradient-dark.jpg');
  background-image: url('../images/gradient-dark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element {
  position: absolute;
  top: 400px;
  left: 41.40625%;
  height: 4px;
}

.image {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 499px;
  left: 0;
  right: 0;
  z-index: 4;
  width: 220px;
  min-height: 49px;
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.element-1 {
  z-index: 2;
  width: 15%;
  background-color: rgb(110, 78, 31);
}

.element-2 {
  z-index: 1;
  width: 220px;
  background-color: rgb(255, 255, 255);
}

.image-1 {
  top: 430px;
  z-index: 3;
  width: 50px;
}

.image-2 {
  top: 200px;
  width: 230px;
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}