body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/0.3 'PT Sans';
  color: rgb(255, 255, 255);
}

.container p,
.text-11 p,
.text-9 p {
  margin-bottom: 1em;
}

.border {
  position: absolute;
}

.container {
  position: relative;
  float: left;
  width: 100%;
  height: 637px;
  margin-top: 250px;
}

.container .element {
  visibility: hidden;
  bottom: 4px;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 360px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(222, 222, 222, 0);
}

.container .image {
  width: 150px;
}

.container .text {
  width: 150px;
  min-height: 32px;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.element {
  position: absolute;
}

.image {
  display: block;
  position: absolute;
  height: auto;
  overflow: hidden;
}

.main-questions {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 600px;
}

.qu1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  background: rgb(106, 63, 21);
  background: url('../images/gradient-light(3).jpg') rgb(106, 63, 21);
  background: url('../images/gradient-light(3).jpg') rgb(106, 63, 21);
  background: url('../images/gradient-light(3).jpg') rgb(106, 63, 21);
  background: url('../images/gradient-light(3).jpg') rgb(106, 63, 21);
  background: url('../images/gradient-light(3).jpg') rgb(106, 63, 21);
  background-repeat: no-repeat;
  background-position: center top;
}

.qu1 .border {
  background-color: rgba(96, 69, 29, 0.5);
}

.qu1 .image {
  top: 215px;
  left: 0;
  right: 0;
  z-index: 49;
  width: 4%;
  margin: 0 auto;
}

.qu1 .text {
  min-height: 47px;
  text-align: center;
  color: #60451d;
}

.qu2 {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  z-index: 38;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  background: #000000;
  background: url('../images/gradient-dark.jpg') #cda35c;
  background: url('../images/gradient-dark.jpg') #cda35c;
  background: url('../images/gradient-dark.jpg') #cda35c;
  background: url('../images/gradient-dark.jpg') #cda35c;
  background: url('../images/gradient-dark.jpg') #cda35c;
  background-repeat: no-repeat;
  background-position: center top;
}

.qu2 .border {
  background-color: rgba(255, 255, 255, 0.5);
}

.qu2 .image {
  top: 215px;
  left: 0;
  right: 0;
  z-index: 37;
  width: 26px;
  margin: 0 auto;
}

.qu1 .image:hover,
.qu2 .image:hover {
  -webkit-transform: scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
}

.qu2 .text {
  width: 100%;
  min-height: 47px;
  text-align: center;
  color: #ffffff;
}

.screen1 {
  position: relative;
  float: left;
  width: 100%;
  height: 960px;
  background-image: url('../images/main-screen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.screen2 {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 960px;
  background-image: url('../images/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 50%;
}

.screen4 {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 1783px;
  background-image: url('../images/ivory-off-white-paper-texture.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center top;
}

.screen4 .image {
  left: 0;
  right: 0;
  width: 60%;
  margin: 0 auto;
}

.screen4 .text {
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.tel {
  position: absolute;
  top: 47px;
  right: 95px;
  z-index: 20;
  min-height: 38px;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.text {
  position: absolute;
}

.brown-circle,
.white-circle {
  display: block;
  position: absolute;
  width: 4px;
  height: auto;
  overflow: hidden;
}

._button {
  display: block;
  position: absolute;
  top: 38px;
  left: 38px;
  z-index: 19;
  width: 15%;
  min-width: 160px;
  max-width: 200px;
  height: 38px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-style: italic;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.screen1 ._text {
  position: absolute;
  text-align: center;
}

.border-1 {
  top: 0;
  bottom: 0;
  right: 26px;
  z-index: 48;
  width: 2px;
  height: 186px;
  margin: auto 0;
}

.border-2 {
  top: 0;
  bottom: 0;
  left: 26px;
  z-index: 47;
  width: 2px;
  height: 186px;
  margin: auto 0;
}

.border-3 {
  bottom: 26px;
  left: 0;
  right: 0;
  z-index: 46;
  width: 73.916015625%;
  height: 2px;
  margin: 0 auto;
}

.border-4 {
  top: 26px;
  left: 0;
  right: 0;
  z-index: 45;
  width: 73.916015625%;
  height: 2px;
  margin: 0 auto;
}

.border-5 {
  top: 0;
  bottom: 0;
  left: 26px;
  z-index: 36;
  width: 2px;
  height: 186px;
  margin: auto 0;
}

.border-6 {
  top: 0;
  bottom: 0;
  right: 26px;
  z-index: 35;
  width: 2px;
  height: 186px;
  margin: auto 0;
}

.border-7 {
  bottom: 26px;
  left: 0;
  right: 0;
  z-index: 34;
  width: 73.916015625%;
  height: 2px;
  margin: 0 auto;
}

.border-8 {
  top: 26px;
  left: 0;
  right: 0;
  z-index: 33;
  width: 73.916015625%;
  height: 2px;
  margin: 0 auto;
}

.brown-circle-1 {
  bottom: 25px;
  right: 25px;
  z-index: 44;
}

.brown-circle-2 {
  top: 25px;
  right: 25px;
  z-index: 43;
}

.brown-circle-3 {
  bottom: 25px;
  left: 25px;
  z-index: 42;
}

.brown-circle-4 {
  top: 25px;
  left: 25px;
  z-index: 41;
}

.element-1 {
  top: 40px;
  left: 2.96875%;
  width: 94.0625%;
  min-width: 52px;
  max-width: 720px;
  height: 204px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(222, 222, 222, 0);
}

.element-3 {
  top: 4303px;
  left: 0;
  z-index: 60;
  width: 100%;
  height: 500px;
  background: url('../images/ph-1.jpg') rgb(182, 136, 136);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.image-1 {
  top: 38px;
  right: 25px;
  z-index: 25;
  width: 44px;
}

.image-12 {
  top: 1249px;
  z-index: 58;
}

.image-13 {
  top: 160px;
  z-index: 57;
}

.image-14 {
  top: 710px;
  z-index: 56;
}

.image-2 {
  bottom: 70px;
  left: 0;
  right: 0;
  z-index: 22;
  width: 40px;
  margin: 0 auto;
}

.image-3 {
  bottom: 25px;
  right: 25px;
  z-index: 21;
  width: 30px;
}

.image-4 {
  top: 480px;
  right: 100px;
  z-index: 15;
}

.image-5 {
  top: 480px;
  left: 100px;
  z-index: 14;
}

.image-6 {
  top: 268px;
  right: 100px;
  z-index: 13;
}

.image-7 {
  top: 30px;
  left: 100px;
  z-index: 12;
}

.image-8 {
  top: 255px;
  left: 100px;
  z-index: 11;
}

.image-9 {
  top: 30px;
  right: 100px;
  z-index: 10;
}

.text-1 {
  top: 122px;
  left: 10%;
  z-index: 2;
  width: 80%;
  max-height: 90px;
  font: 1em/1.38 'PT Serif';
  color: rgb(255, 255, 255);
}

.text-10 {
  top: 165px;
  left: 0;
  z-index: 39;
  width: 100%;
  font-size: 1em;
  line-height: 1.38;
}

.text-11 {
  top: 100px;
  right: 0;
  z-index: 28;
  font-family: 'PT Serif';
  font-size: 1.5em;
  letter-spacing: 2px;
}

.text-12 {
  top: 165px;
  left: 0;
  z-index: 27;
  font-size: 1em;
  line-height: 1.38;
}

.text-13 {
  top: 1695px;
  z-index: 55;
  width: 60%;
  min-height: 27px;
  font-size: 1em;
  line-height: 1.38;
  color: #533b19;
}

.text-14 {
  top: 1170px;
  z-index: 54;
  width: 60%;
  min-height: 27px;
  font-size: 1em;
  line-height: 1.38;
  color: #533b19;
}

.text-15 {
  top: 80px;
  z-index: 53;
  width: 100%;
  height: 10px;
  font-family: 'PT Serif';
  font-size: 1.5em;
  letter-spacing: 2px;
  color: #60451d;
}

.text-16 {
  top: 620px;
  z-index: 52;
  width: 60%;
  min-height: 27px;
  font-size: 1em;
  line-height: 1.38;
  color: #533b19;
}

.text-17 {
  top: 4840px;
  left: 0;
  right: 0;
  z-index: 61;
  width: 100%;
  margin: 0 auto;
  font: 700 1.5em/1.38 'PT Serif';
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-2 {
  top: 82px;
  left: 0;
  z-index: 1;
  width: 100%;
  font-family: 'PT Serif';
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}

.text-3 {
  top: 660px;
  right: 100px;
  z-index: 9;
}

.text-4 {
  top: 660px;
  left: 100px;
  z-index: 8;
}

.text-5 {
  top: 435px;
  left: 100px;
  z-index: 7;
}

.text-6 {
  top: 435px;
  right: 100px;
  z-index: 6;
}

.text-7 {
  top: 210px;
  right: 100px;
  z-index: 5;
}

.text-8 {
  top: 210px;
  left: 100px;
  z-index: 4;
}

.text-9 {
  top: 100px;
  left: 10%;
  z-index: 40;
  width: 80%;
  font-family: 'PT Serif';
  font-size: 1.5em;
  letter-spacing: 2px;
}

.white-circle-1 {
  top: 25px;
  right: 25px;
  z-index: 32;
}

.white-circle-2 {
  bottom: 25px;
  right: 25px;
  z-index: 31;
}

.white-circle-3 {
  bottom: 25px;
  left: 25px;
  z-index: 30;
}

.white-circle-4 {
  top: 25px;
  left: 25px;
  z-index: 29;
}

.screen1 ._text-1 {
  top: 450px;
  left: 0;
  z-index: 24;
  width: 100%;
  min-height: 25px;
  font-family: 'PT Serif';
  font-size: 2.75em;
  font-weight: 700;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
}

.screen1 ._text-2 {
  top: 495px;
  left: 0;
  right: 0;
  z-index: 23;
  width: 100%;
  min-height: 59px;
  margin: 0 auto;
  font: 1.5em/1.38 'PT Serif';
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.screen1 ._text-3 {
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 18;
  height: 40px;
  min-height: 25px;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(238, 240, 241);
}

._text-1 span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-shadow: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-style: inherit;
  font-size: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-1 span {
  text-shadow: none;
  font-weight: inherit;
  text-decoration: inherit;
}

.text-15 span,
.text-2 span {
  text-shadow: none;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: inherit;
}

.text-13 span,
.text-14 span,
.text-16 span {
  text-shadow: none;
  font-family: inherit;
  font-weight: 700;
  text-decoration: underline;
}

.text-3 span,
.text-4 span,
.text-5 span {
  font-family: 'PT Serif';
  font-weight: inherit;
  text-decoration: inherit;
}